:root {
    --green : #03989E;
    --dark : #494E56;
    --grey: #C4C4C4;
    --white: #E5E5E5;
    --txt: #D9D9D9;
    --shadow: rgba(0, 0, 0, 0.25);
    --font: 'Montserrat', sans-serif;
    --wrap: rgba(163, 165, 168, 0.5);
    --whitish: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    background-color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    
}

.wrapper {
    display: grid;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark);
    height: 100vh;
}

.side-nav {
    background-color: var(--grey);
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.main-nav{
    background-color: var(--white);
    display: grid;
    grid-template-columns: 100px 2fr 6fr;
    text-align: center;
    grid-template-rows: 100%;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}

#txt {
    background-color: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    color: #494E56;
}

ul{
    padding: 0;
    list-style: none;
}
.main-nav ul{
    display: grid;
    margin-left: 200px;
    grid-template-columns: repeat(auto-fit, 150px);
}
.main-nav .link{
    text-decoration: none; 
}

/* li >a{
    text-decoration: none;
    color: var(--dark);
} */




.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 35px;
    transform: rotate(90deg);
    margin-top: 200px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--green);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--green);
  }
  
  input:checked + .slider:before {
    
    transform: translateX(65px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.soc{
    height:50px;
    width: 50px;
    filter: grayscale(100%);
    transition: transform .2s;
    
}

.soc:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
}

.iconic{
    width: 65px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--dark);
}

.iconic:hover{
    background-color: var(--green);
}

#soctoggle{
    margin-top: 100px;
    position: relative;
    top:0px;
    left: 15px;
    cursor: pointer;
    box-shadow: 4px 0px 4px  var(--shadow);
    backdrop-filter: blur(70px);
    
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.socicon{
    display: none;
    padding-left: 20px;
    
}
 
 .content{
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.5s ease-out;
}

.closer{
    position: relative;
    margin-top: 0.3em;
    top:0px;
    left: 15px;
    box-shadow: 4px 0px 4px var(--shadow);
    backdrop-filter: blur(70px);
}


.textwrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* border: 3px solid red; */
    height: 80%;
    font-family: 'Sriracha', cursive;
    padding-right: 4em;
}

.CTA {
    display: flex;
    align-items: center;
    font-size: 3.5em;
    line-height: 85px;
    text-align: center;
    color: var(--white);
}

.btnwrapper {
    display:inline-flex;
    flex-direction: column;
    /* border: 3px solid blue; */
    justify-content: flex-end;
    align-items: center;
    margin-top:2em;
    
}

#CTAbtn {
    position: relative;
    width: 327px;
    height: 80px;
    left:0px;
    top:0px;
    font-size: 42px;
    line-height: 74px;
    color: #D9D9D9;
    font-family: var(--font);
    border-radius: 5px;
    border: 0px;


    background: var(--green);
    box-shadow: 20px 20px 4px var(--shadow);
    backdrop-filter: blur(70px);
}

/* end of home/landing page */

.about-section {
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark);
    height: 100vh;
}

.header{
    color: var(--dark);
}

.brand{
    height: 80px;
}

.heading{
    height: 25%;
    background: var(--dark);
    color: var(--white);
    font-family: var(--font);
    font-size: 4.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 270px;
}

.desc{
    width: 37em;
    float: right;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    line-height: 20px;
    /* border: 3px solid red; */
    padding: 0.5em;

    color: var(--white);
    align-items: center;
}

.abtbtn {
    margin: 0.5em 2em;
}

/* end of about page */

.skill-section{
    background-image: url(images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark);
    height: 100vh;
}

.heads {
    height: 25%;
    color: var(--white);
    font-family: var(--font);
    font-size: 4.5em;
    text-align: left;
    padding-left: 2em;
    line-height: 250px;
}

.skillwrap{
    width: 50em;
    height: 30em;
    margin-left: 15em;
    margin-top: 2em;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;

    background: var(--wrap);
    
    box-shadow: 20px 20px 4px var(--shadow);
    border-radius: 30px;
}

.skill{
    text-align: center;
    font-family: var(--font);
    font-size: 2em;

    text-decoration-line: underline;
    color: var(--white);
}
.iconwrap {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 30px;
    align-items: center;
}

.iconwrap2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    align-items: center;
}

.skicon{
    height: 50px;
    width: 50px;
    place-self: center;
    
}

.icon1 {
    height: 50px;
    width: 100px;
    place-self: center;
}

.icon2 {
    height: 96px;
    width: 140px;
}

.icon3{
    height: 50px;
    width: 203px;
}

.project {
    
    width: 410px;
    height: 443px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(3, 152, 158, 0.5);
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25), inset 20px 20px 4px rgba(0, 0, 0, 0.25);
}

.flex{
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    padding-left: 4em;
    justify-content: center;  
}

.preview{
    width: 330px;
    height: 221px;
    background: url(images/Capstone1.png);
}

.preview1{
    width: 330px;
    height: 221px;
    background: url(images/Capstone2.png);
}

.preview2{
    width: 330px;
    height: 221px;
    background: url(images/GroupCapstone.png);
}

.shbuttons{
    margin: 5px;
    height: 35px;
    width: 130px;
    background: #A3A5A8;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(70px);

    /* Note: backdrop-filter has minimal browser support */
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formcont{
    width: 850px;
    height: 680px;
    margin-top: 1em;
    margin-left: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: rgba(163, 165, 168, 0.5);
    opacity: 0.7;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 3em;
}

.flexeven{
    display: flex;
    flex-direction: row;
}
.iphone{
    width: 482px;
    height: 600px;
   
}

.contact {
    width: 726px;
    height: 61px;
    
    background: rgba(163, 165, 168, 0.5);
    opacity: 0.7;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.right {
   
    font-size: 0.3em !important;
}

.righticon{
    margin-left: 3em;
}

.flexcontact{
    display: flex;
    flex-direction: row;
}

textarea{
    color: var(--whitish);
    width: 726px;
    padding: 12px 20px;
    background: rgba(163, 165, 168, 0.5);
    opacity: 0.7;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
h1{
    font-family: var(--font);
    color: white;
}

a {
    text-decoration: none;
}
a:visited{
    color: var(--font);
}
a:hover {
    color: var(--green);
}

.contactbtn{
    justify-self: center;
    align-self:center;
    width: 500px;
    height: 61px;
    margin-top: 2em;
    color: var(--white);
    font-family: var(--font);
    font-size: 1.5em;
    background: rgba(163, 165, 168, 0.5);
    opacity: 0.7;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.hover{
    transition: transform .2s;
    filter:saturate(25%);
}
.hover:hover{
    transform: scale(1.2);
    filter:saturate(100%);
}

.headcontact{
    margin-top:1em;
}

.port-section{
    background-image: url(images/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark);
    height: 100vh;
}

.contact-section{
    background-image: url(images/bg5.png);
    background-repeat: repeat;
    background-size: cover;
    background-color: var(--dark);
    min-height: 100vh;
}

input[type=text] {
    
    padding: 12px 20px;
    
    box-sizing: border-box;
    border: none;
    
    color: var(--whitish);
}

input[type=email] {
    
    padding: 12px 20px;
    
    box-sizing: border-box;
    border: none;
    
    color: var(--whitish);
}